%btn{
    padding: 20px 40px;
    background-color: green;
    cursor: pointer;
    font-weight: 900;
    font-size: $size-20px;
    border-radius: $size-15px;
    color: white;
    text-transform: uppercase;
}